{% extends 'base.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card my-5">
            <div class="card-body">
                <h1 class="card-title mb-4 text-center">Contacto</h1>
                <!-- Formulario de contacto (No funcional) -->
                <form method="post">
                    
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="name" id="name" placeholder=" " required>
                        <label for="nombre">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" name="email" id="email" placeholder=" " required>
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="mensaje" name="mensaje" rows="20" placeholder=" " required></textarea>
                        <label for="mensaje">Mensaje</label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Enviar</button>
                    {% for message in get_flashed_messages() %}
                        <div class="mensaje_error_servidor text-center" id="mensaje_error_servidor"> {{ message }}</div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
  </div>
{% endblock %}