{% extends 'base.html' %}

{% block title %}Política de privacidad{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card my-5">
            <div class="card-body">
                <h1 class="card-title mb-4 text-center">Política de Privacidad de OntoStats</h1>
                <p>
                    Esta Política de Privacidad describe cómo OntoStats 
                    recopila, utiliza y comparte información sobre usted 
                    en relación con su uso de la aplicación web OntoStats.
                </p>
                <hr>
                <h3>1. Información que recopilamos</h3> 
                <p>
                    Recopilamos la información que usted nos proporciona directamente, 
                    como su nombre, dirección de correo electrónico y contraseña cuando 
                    crea una cuenta en la aplicación. 

                </p>
                <h3>2. Uso de la información</h3> 
                <p>
                    Utilizamos la información recopilada para proporcionar y mejorar la aplicación, 
                    así como para fines de investigación y análisis. También podemos utilizar la 
                    información para comunicarnos con usted sobre actualizaciones de la aplicación, 
                    promociones y otras noticias relacionadas con OntoStats.
                    No vendemos ni compartimos su información con terceros para fines de marketing 
                    sin su consentimiento explícito. Podemos compartir su información con terceros 
                    proveedores de servicios que nos ayudan a proporcionar la aplicación y realizar 
                    análisis, pero solo en la medida necesaria para prestar el servicio.
                </p>
                <h3>3. Cookies</h3> 
                <p>
                    Utilizamos cookies y otras tecnologías de seguimiento similares para recopilar 
                    información sobre su uso de la aplicación. Puede configurar su navegador para que 
                    rechace todas las cookies o para que le avise cuando se envía una cookie. 
                    Sin embargo, si no acepta las cookies, es posible que no pueda utilizar 
                    todas las funciones de la aplicación.
                </p>
                <h3>4. Seguridad de la información</h3> 
                <p>
                    Tomamos medidas razonables para proteger su información personal contra el 
                    acceso no autorizado, la modificación, divulgación o destrucción. Sin embargo, 
                    no podemos garantizar la seguridad de la información transmitida a través de Internet.
                </p>
                <h3>5. Cambios en esta Política de Privacidad</h3> 
                <p>
                    Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. 
                    Si hacemos cambios significativos, le notificaremos mediante una publicación destacada 
                    en la aplicación o mediante un aviso enviado a la dirección de correo electrónico que 
                    nos proporcionó. La versión actualizada de la Política de Privacidad reemplazará a todas 
                    las versiones anteriores. Su uso continuado de la aplicación después de cualquier 
                    modificación de la Política de Privacidad constituirá su aceptación de los términos modificados.
                </p>
                <h3>6. Contacto</h3> 
                <p>
                    Si tiene alguna pregunta sobre esta Política de Privacidad, póngase en contacto con nosotros a 
                    través de nuestra página de contacto: <a href="{{ url_for('contacto')}}">Contacto</a>.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}